.bgg{
    background-color: color($colors,light);
}

#map1{
    height: 95%;
    width: 95%;
    right: 10px;
    left:10px;
    position: absolute!important;
    overflow: hidden!important;
    display:block;
}