page-profile {
    .round{
        width: 140px !important;
        height: 140px !important;
        
    }
     
    .headerlabel
    {
        text-align: center;
        font-size:15px; 
    }

    .contents{
        color: color($colors, lightthemeblue);
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cards{
        padding-top:15%;
    }
}
