
.bgg{
    background-color: color($colors,light);
}

.ioniconcolor1{
    color : color($colors, themeblue);
 }

 .colornavbar{
    background-color: color($colors, navbarcolor);
}
.buttonitem{
    padding:none;
    font-size: 15px;
    width:100%;
    height:50px ;
    background:color($colors,navbarcolor);
}
.background1{
    background:color($colors, light);  /* fallback for old browsers */              
}
.buttoncolor{
    background-color: color($colors, navbarcolor);
}

 .ioniconcolor2{
     color : color($colors, navbarcolor);
}