page-sign-up {

}
.avatar1{
    width: 100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
}
.photo1{
    font-size: 70px;
}
.iconsize{
    font-size:35px;
}
.errorline{
    color: red;
}