// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
@import "ionicons";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  themeblue: #033860,
  lightthemeblue: #2a4255,
  navbarcolor: #e52d27
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$navbar-ios-height: 200px;
//$menu-ios-background: color($colors,themeblue);
$card-ios-margin-left: 0;
 $card-ios-margin-right: 0;
$segment-button-ios-background-color-activated: color($colors,navbarcolor);
$segment-button-ios-toolbar-button-max-width: 55px;
$button-ios-outline-border-color:red;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$card-md-margin-left: 0;
 $card-md-margin-right: 0;
$segment-button-md-border-bottom-width: 5px;
$note-md-color: darken(rgb(104, 104, 104), 10%);
$label-md-text-color-focused: color($colors,navbarcolor);
$text-input-md-highlight-color: color($colors,navbarcolor);
//$menu-md-background: color($colors,themeblue);
$button-md-outline-border-color:red;
$toolbar-background: color($colors,themeblue);
$tabs-md-tab-icon-color-active: color($colors,navbarcolor);
$tabs-md-tab-text-color-active: color($colors,navbarcolor);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
