<!--
  Generated template for the PendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>All Packages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgg">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <div *ngIf="!nodata">
    
    <ion-card *ngFor="let item of alldata, let i= index">
        <div style="position: relative">
      <img src="http://localhost:5000/uploads/{{item.PImage}}" />
  </div>
  
      <ion-item>
        <ion-icon class="ioniconcolor1" name="pin" item-start large></ion-icon>
        <h2>{{item.PickAddress}}</h2>
      </ion-item>
  
      <ion-item>
        <ion-icon class="ioniconcolor1" name="radio-button-off" item-left large></ion-icon>
        <h2>{{item.DestAddress}}</h2>
      </ion-item>
  
      <button class="colornavbar" ion-button full (click)="packagedetails(i)">
        View Details
      </button>
    </ion-card>
  
  </div>
  <div *ngIf="nodata" class="nodata">
    <p ion-text >No Packages to Display</p>
  </div>
  
</ion-content>