<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header mode="ios">

  <ion-navbar mode="ios">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title mode="ios">Create Package</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top mode="ios">
    <ion-segment (ionChange)="updatePage(CurrentScreen)" mode="ios" [(ngModel)]="CurrentScreen">
      <ion-segment-button value="S1" disabled="false">Step 1
      </ion-segment-button>
      <ion-segment-button value="S2" disabled="true">Step 2
      </ion-segment-button>
      <ion-segment-button value="S3" disabled="true">Step 3
      </ion-segment-button>
      <ion-segment-button value="S4" disabled="true">Step 4
      </ion-segment-button>
      <ion-segment-button value="S5" disabled="true">Step 5
      </ion-segment-button>
      <ion-segment-button value="S6" disabled="false">Step 6
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding class="bgg">

  <div [ngSwitch]="CurrentScreen">
    <ion-list (onCreate)="loadMaps()" no-padding *ngSwitchCase="'S1'">


      <div class="map">
        <ion-searchbar #searchbar1 placeholder="Enter Location:"></ion-searchbar>
        <ion-item></ion-item>
        <ion-searchbar #searchbar placeholder="Enter Destination:"></ion-searchbar>
      </div>
      <ion-card  id="map" #map></ion-card>
      <br>
      <br>
      <br>

      <button ion-button (click)=findPath()>Find Path</button>

      <!-- <ion-item>
            <ion-label floating>Pickup Address: </ion-label>
            <ion-textarea formControlName="PickAddress"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="(PickAddress.hasError('required')  && Screen4)">
              <p ion-text color="danger">*Please enter Pickup Address</p>
            </ion-item>
    
          <ion-item>
            <ion-label floating>Destination Address: </ion-label>
            <ion-textarea formControlName="DestAddress"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="(DestAddress.hasError('required')  && Screen4)">
              <p ion-text color="danger">*Please enter Destination Address</p>
            </ion-item>
    
          <ion-item>
            <img src="./assets/imgs/maps.png">
          </ion-item> -->

      <!-- <ion-row>
              <ion-col col-6>
                  <button full ion-button (click)="prev()">PREVIOUS</button>
            </ion-col>
            <ion-col col-6>
                <button full ion-button (click)="next()">NEXT</button>
                
            </ion-col>
            </ion-row> -->
    </ion-list>
    <ion-list no-padding *ngSwitchCase="'S2'">
      <ion-item>
        <ion-avatar item-start>
          <ion-icon class="photo1" *ngIf="lastImage1==null" name="add-circle" large></ion-icon>
          <img src="{{pathForImage(lastImage1)}}" class="avatar1" *ngIf="lastImage1!=null">
        </ion-avatar>
        <h2>Take a Selfie!</h2>
        <button ion-button icon-left (click)="presentActionSheet(1)">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
      </ion-item>

    </ion-list>

    <form [formGroup]="data" >
      <ion-list no-lines *ngSwitchCase="'S3'">



        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Package Name</ion-label>
              <ion-input type="text" formControlName="PackageName"></ion-input>
            </ion-item>
            <ion-item *ngIf="(PackageName.hasError('required')  && Screen3)">
              <p ion-text color="danger">*Please enter Package Name</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Description</ion-label>
              <ion-textarea formControlName="PackageDesc"></ion-textarea>
            </ion-item>
            <ion-item *ngIf="(PackageDesc.hasError('required')  && Screen3)">
              <p ion-text color="danger">*Please enter Package Description</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-label class="lbl">Package size</ion-label>
        <ion-item *ngIf="PackageSize == null && Screen3">
          <p ion-text color="danger">*Please choose Package size</p>
        </ion-item>
        <div class="cc-selector">
          <ion-list no-padding>

            <ion-row>
              <ion-col>
                <ion-item>
                  <div class="center">
                    <input id="mail" name="PackageSize" [(ngModel)]="PackageSize" [ngModelOptions]="{standalone: true}" type="radio" value="Small">
                    <label class="drinkcard-cc mail" for="mail"></label>
                  </div>
                </ion-item>
              </ion-col>

              <ion-col col-6>
                <ion-item>
                  <div class="center">
                    <input id="box" name="PackageSize" [(ngModel)]="PackageSize" [ngModelOptions]="{standalone: true}" type="radio" value="Medium">
                    <label class="drinkcard-cc box" for="box"></label>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <div class="center">
                    <input id="tv" name="PackageSize" [(ngModel)]="PackageSize" [ngModelOptions]="{standalone: true}" type="radio" value="Large">
                    <label class="drinkcard-cc tv" for="tv"></label>
                  </div>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <div class="center">
                    <input id="chair" name="PackageSize" type="radio" value="X-Large">
                    <label class="drinkcard-cc chair" for="chair"></label>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
        </div>

       
      </ion-list>


      <ion-list no-lines *ngSwitchCase="'S4'">
        <div class="center">
          <ion-label class="lbl">Select Transport Type</ion-label>
        </div>


        <ion-list class="donate-now">


          <ion-item>
            <input id="Freelance" name="TransportType" [(ngModel)]="TransportType" [ngModelOptions]="{standalone: true}" type="radio" value="Freelance" />
            <label for="Freelance">FREELANCE</label>
          </ion-item>


          <ion-item>
            <input id="CourierService" name="TransportType" [(ngModel)]="TransportType" [ngModelOptions]="{standalone: true}" type="radio" value="CourierService"
            />
            <label for="CourierService">Courier</label>
          </ion-item>

          <ion-item *ngIf="TransportType == null && Screen4">
            <p ion-text color="danger">*Please choose Delivery Type</p>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label> Contact customer support for Expensive Items </ion-label>
        </ion-item>

        <!-- <ion-row>
  <ion-col col-6>
      <button full ion-button (click)="prev()">PREVIOUS</button>
</ion-col>
<ion-col col-6>
    <button full ion-button (click)="next()">NEXT</button>
    
</ion-col>
</ion-row> -->

      </ion-list>

      <!-- Insert the cc selector here -->

      <ion-list no-lines *ngSwitchCase="'S5'">

        <div *ngIf="TransportType === 'Freelance'">
            <div class="center">
                <ion-label class="lbl">Select Vehicle Type</ion-label>
              </div>
          <div class="cc-selector">
            <ion-row *ngIf="PackageSize === 'Small'">
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="Bike" name="TransportType" [(ngModel)]="VehicleType" [ngModelOptions]="{standalone: true}" type="radio" value="Bike">
                  <label class="drinkcard-cc Bike" for="Bike"></label>
                </div>
              </ion-item>
            </ion-row>

            <ion-row *ngIf="PackageSize === 'Small' || PackageSize === 'Medium' || PackageSize === 'Large'">
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="Car" name="TransportType" [(ngModel)]="VehicleType" [ngModelOptions]="{standalone: true}" type="radio" value="Car">
                  <label class="drinkcard-cc Car" for="Car"></label>
                </div>
              </ion-item>
            </ion-row>

            <ion-row *ngIf="PackageSize === 'Large' || PackageSize === 'X-Large'">
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="Pickup" name="TransportType" [(ngModel)]="VehicleType" [ngModelOptions]="{standalone: true}" type="radio" value="Pickup">
                  <label class="drinkcard-cc Pickup" for="Pickup"></label>
                </div>
              </ion-item>
            </ion-row>

            <ion-row *ngIf="PackageSize === 'X-Large'">
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="Truck" name="TransportType" [(ngModel)]="VehicleType" [ngModelOptions]="{standalone: true}" type="radio" value="Truck">
                  <label class="drinkcard-cc Truck" for="Truck"></label>
                </div>
              </ion-item>
            </ion-row>

            <ion-item *ngIf="VehicleType == null && Screen5">
              
              <p ion-text color="danger">*Please choose Transport Type</p>
            </ion-item>
          </div>
        </div>
        <div *ngIf="TransportType === 'CourierService'">
          <div class="cc-selector">
            <ion-item class="center">
              <ion-label class="lbl">
                Select Courier Service
              </ion-label>
            </ion-item>

            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="DHL" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="DHL">
                  <label class="drinkcard-cc DHL" for="DHL"></label>
                </div>
              </ion-item>
            </ion-card>



            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="TCS" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="TCS">
                  <label class="drinkcard-cc TCS" for="TCS"></label>
                </div>
              </ion-item>
            </ion-card>



            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="UPS" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="UPS">
                  <label class="drinkcard-cc UPS" for="UPS"></label>
                </div>
              </ion-item>
            </ion-card>



            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="Leopard" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="Leopard">
                  <label class="drinkcard-cc Leopard" for="Leopard"></label>
                </div>
              </ion-item>
            </ion-card>



            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="MP" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="MP">
                  <label class="drinkcard-cc MP" for="MP"></label>
                </div>
              </ion-item>
            </ion-card>



            <ion-card>
              <ion-item>
                <!-- insert buttons stacked here -->
                <div class="center">
                  <input id="FedEx" name="TransportType" [(ngModel)]="CourierType" [ngModelOptions]="{standalone: true}" type="radio" value="FedEx">
                  <label class="drinkcard-cc FedEx" for="FedEx"></label>
                </div>
              </ion-item>
            </ion-card>
            <ion-item *ngIf="CourierType == null && Screen5">
              <p ion-text color="danger">*Please choose Courier Brand</p>
            </ion-item>

          </div>
        </div>
        
      </ion-list>



      <div *ngSwitchCase="'S6'"  >

        <ion-card>

          <img src={{IPath}}>



          <ion-item>
            <h2>Package Name:</h2>
            <ion-note item-end>Fragile Box </ion-note>
          </ion-item>
          <ion-item>
            <ion-note item-end>Fragile Box weighing 2 Kg to be delivered inter city on urgent basis. </ion-note>
          </ion-item>
          <ion-item>
            <h2>Cost</h2>
            <ion-note item-end>Rs. 250/-</ion-note>
          </ion-item>

          <ion-item>
            <h2>Size:</h2>
            <ion-note item-end> Medium </ion-note>
          </ion-item>

          <ion-item>
            <h2>Delivery Type:</h2>
            <ion-note item-end> Freelance </ion-note>
          </ion-item>
          <ion-item>
            <h2>Transport Type:</h2>
            <ion-note item-end> Car </ion-note>
          </ion-item>
        </ion-card>


        <ion-card>
          <ion-item>
            <ion-icon class="ioniconcolor1" name="pin" item-start large></ion-icon>
            <h2 ion-text>{{SourceString}}</h2>
          </ion-item>

          <ion-item>
            <ion-icon class="ioniconcolor1" name="radio-button-off" item-left large></ion-icon>
            <h2 ion-text>{{DestinationString}}</h2>
          </ion-item>



        </ion-card>
        <ion-card>
<div  id="map1" #map1 (onCreate)="findPath1()"></div>
</ion-card>

       
            <!-- <button ion-button full color="secondary" type="submit">CREATE</button> -->
            
      </div>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button full ion-button (click)="prev()">PREVIOUS</button>
    </ion-col>
    <ion-col col-6 >
      <button full ion-button (click)="next()" *ngIf="Scr6">NEXT</button>
      
      <button ion-button full color="secondary" type="submit" *ngIf="!Scr6" (click)="formSubmit()">CREATE</button>

    </ion-col>
  </ion-row>
</ion-footer>