.bgg{
  background-color: color($colors,light);
}

.ioniconcolor1{
  color : color($colors, themeblue);
}


.colornavbar{
  background-color: color($colors, navbarcolor);
}

.buttoncolor{
  background-color: color($colors, navbarcolor);
}